
body{
    background-color: #1e1e1e;
    background-image: url("https://t3.ftcdn.net/jpg/00/96/89/40/360_F_96894032_R1eY5W4QJZPC8OepL5iJKqBQBaXuvLTC.jpg");
}
.timeline {
    margin: 0 auto;
    max-width: 700px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: bisque;
}
.t__comp{
    margin: 0 20px 20px 20px;
}

.t__comp--bg{
    padding: 1.5em;
    background: #801234;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0.7;
}
.t__comp--bg:hover{

    opacity: 1;
}
.t_date--right{
    text-align: right;
    color: white;
}
.t_date{
    color: white;
}
.t_partition{
    position: relative;
    background: white;

}
.t_circle{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;


}
.t1{
    margin: 0;
    font-size: 1.15em;
    color: white;
    font-weight: bold;
}

.t_para{
    line-height: 1.5;
    color: whitesmoke;
}
.t_circle--bottom{
    top: initial;
    bottom: 0;
}
 .header{
    
    height: 100px;
    width: 100%vb;
    margin-top: 0;
    background-color:  #801234;
    opacity: 0.8;
    padding: 0%;
    text-align: center;
    
    
 }

 .heading{
    color: aliceblue;
    font-size: 4em;

 }
.h{

    
    margin-top: 30px;
    z-index: 1;

}
 .aboutus{
    display: flex;
    align-items: stretch;
    background-image: url("https://t3.ftcdn.net/jpg/00/96/89/40/360_F_96894032_R1eY5W4QJZPC8OepL5iJKqBQBaXuvLTC.jpg");

   
}

 .about{
    width: 1000px;
    height: 450px;
    text-align: right;
    padding-right: 100px;
    

 }
 .pp{

    font-size: large;
    color:antiquewhite;
 }

 .robot{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 50px;
    height: auto;
    width: auto;
    background-color: transparent;
    
 }
 .rbody{

    display: flex;
 }
 .rb{
    width: 120px;
    height: 130px;
    background: wheat;
    margin-top: 65px;
    margin-left: 5px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    
 }
 .lh{

    width: 80px;
    height: 20px;
    margin-top: 70px;
    background-color: antiquewhite;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    animation: hand 1s linear infinite;
 }

@keyframes hand {
    0%{
        transform: translateY(-40px) rotateZ(45deg);
    }
    50%{
        transform: translateY(0px) rotateZ(-0deg);
    }
    100%{
        transform: translateY(-40px) rotateZ(45deg);
    }

    
}

 .rh{
    height: 80px;
    width: 20px;
    margin-top: 70px;
    margin-right: 100px;
    margin-left: 5px;
    background-color: antiquewhite;
    border-top-right-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    animation: hand 1s linear 0 infinite;
    
    

 }

 .face{

    position: absolute;
    width: 90px;
    height: 60px;
    margin-left: 98px;
    background-color: aliceblue;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


 }

 .legs{

    display: flex;
    flex-direction: row;
    
 }

 .lleg{

    width: 35px;
    height: 25px;
    margin-top: 3px;
    margin-left: 85px;
    background-color: aquamarine;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
 }

 .rleg{
    
    width: 35px;
    height: 25px;
    margin-top: 3px;
    margin-left: 55px;
    background-color: aquamarine;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
 }

  

